<h2>Welcome to Pizza Shop!</h2>

<div class="row">

<% @products.each do |p| %>
<div class="col-md-3">
    <div>
    <%= p.title %>
    </div>

    <div>
    <img width = "200" height = "160" src = "<%= p.path_to_image %>" />
    </div>

    <div>
    <%= p.description %>
    </div>

    <div>
    <%= p.size %> cm
    </div>

    <div>
    <%= p.price %> rub
    </div>

    <div>
      <button type="button" class="btn  btn-success btn-sm" onclick="add_to_cart(<%= p.id %>)">Add to cart</button>
      </div>


</div>
<% end %>

</div>
<br />
<br />

<button class="btn btn-primary" onclick="something()" type="button" name="button">Click me!</button>

<script type="text/javascript">
  $(function(){
    update_orders_input();
  })
  
</script>
